#liked-pets-images {
    overflow-x: hidden;
    max-width: 300px; 
    position: sticky;
    top: 20px; 
    margin-left: 0px; 
    margin-right: 200px;
}

#pets-container {
    flex-grow: 1; 
    max-width: calc(100% - 340px); 
    margin-right: 20px; 
}


.animals{
    width: 25%;
    margin-left: 800px;
    text-align: center;
    top: 1000px;
    position: absolute;
    margin-left: 1050px;
    
    
}


.hidden {
    display: none;
}
#loading-spinner {
    height: 100vh; 
}




///////////////////////////

.modal_pop_up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.modal-box {
    position: relative;
}

.modal-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.hidden {
    display: none;
}


/* pefectoss */


/* 
@media (min-width: 640px) {
    .animals {
        display: hidden;
        overflow-x: hidden;
        flex-direction: row; /* Row layout for larger devices */
        position: static; /* Reset position for larger devices */
        height: auto; /* Remove fixed height for larger devices */
    }
}

@media (max-width: 640px) {
    #liked-pets-images {
        display: hidden;
        overflow-x: hidden;
        position: fixed; /* Fixed position for small devices */
        bottom: 0; /* Align to bottom */
        left: 0; /* Align to left */
        width: 100%; /* Full width on small devices */
        margin: 0; /* Remove margins for full-width effect */
    }

    #pets-container {
        margin-bottom: 80px; /* Space for liked pets section */
    }
} */
