#liked-pets-images {
    overflow-x: hidden;
    max-width: 300px; 
    position: sticky;
    top: 20px; 
    margin-left: 0px; 
    margin-right: 200px;
}

#pets-container {
    flex-grow: 1; 
    max-width: calc(100% - 340px); 
    margin-right: 20px; 
}


.animals{
    width: 25%;
    margin-left: 800px;
    text-align: center;
    top: 1000px;
    position: absolute;
    margin-left: 1050px;
    
    
}


.hidden {
    display: none;
}
#loading-spinner {
    height: 100vh; 
}



